.list-group {
    background-color: #fff;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
}

.list-group-item {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.2s, color 0.2s;
}

.list-group-item:hover {
    background-color: #007bff;
    color: #fff;
}