.wd-search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.wd-search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #555555;
  pointer-events: none;
}

.wd-search-input {
  padding: 8px 30px 8px 30px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f5f8fa;
  width: 265px;
}

.wd-gear-icon {
  font-size: 30px;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wd-tabs {
  display: flex;
  list-style: none;
  padding: 0;
}

.wd-tab-item {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.wd-tab-text {
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  cursor: pointer;
}

.wd-tab-item.wd-active .wd-tab-text {
  font-weight: bold;
}

.wd-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: blue;
}

.wd-active .wd-underline {
  background-color: blue;
  height: 5px;
}

.wd-tab-image-container {
  position: relative;
  width: 100%;
}

.wd-tab-image {
  width: 400px;
  height: auto;
  margin-top: 10px;
  z-index: -1;
}

.wd-tab-image-overlay {
  position: absolute;
  bottom: -5px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.wd-trending-list {
  list-style: none;
  padding: 0;
}

.wd-trending-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.wd-trending-details {
  display: flex;
  align-items: center;
}

.wd-trending-number {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.wd-trending-content {
  display: flex;
  flex-direction: column;
}

.wd-trending-hashtag {
  font-size: 16px;
  font-weight: bold;
}

.wd-trending-Tuits {
  font-size: 14px;
  color: gray;
}

.wd-trending-action {
  font-size: 30px;
  color: gray;
  cursor: pointer;
}

.list-group {
  border-radius: 20px;
  width: 180px;
  margin-top: 2em;
}

.list-group-item {
  background-color: transparent;
  border: none;
  text-align: left;
}

.list-group-item a {
  color: grey;
  font-weight: bold;
  text-decoration: none;
}

.list-group-item.active a {
  color: #fff;
}

.list-group-item:hover {
  background-color: #1da1f2;
}

.list-group-item:hover a {
  color: #fff;
}

.tuit-icon {
  pointer-events: none;
}

.tuit-button {
  margin-top: 0.5em;
}

.tuit-content-container {
  margin-top: 2em;
  width: 100%;
}

.tuit-tabs {
  margin-top: 1em;
}

.tuit-banner-text {
  color: #f5f8fa;
  font-size: x-large;
  height: 2em;
  padding-left: 0.5em;
}

.tuit-image {
  width: 100%;
}

.tuit-main-content-list {
  width: 100%;
  padding-bottom: 3em;
}

.tuiter-trending-aviator {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  float: right;
}

.tuit-who-to-follow-modal {
  float: right;
}

.tuit-who-to-follow-list-group {
  width: 350px;
}

.who-to-follow-image {
  width: 48px;
  height: 48px;
}

.tuit-who-to-follow-intro {
  float: left;
}
